[Unit]
Description="Main Bass OS application"

[Service]
TimeoutStartSec=0
WorkingDirectory=/opt/bOS10/code
ExecStart=nodejs /opt/bOS10/code/webserver.js
Restart=always
User=app

[Install]
WantedBy=multi-user.target
