<ons-page ng-controller="playlistCtl">
	<h3>Playlist</h3>
	<ons-list>
		<ons-list-item modifier="longdivider">
			<div class="left">
				<ons-input type="checkbox"></ons-input>
			</div>
			<div class="center">
				<span class="list__item__title">One Touch (feat. who ...</span>
				<span class="list__item__subtitle">Baauer</span>
			</div>
			<label class="right">
				<ons-icon icon="ion-drag" class="list__item__icon"></ons-icon>
			</label>
		</ons-list-item>
		<ons-list-item modifier="longdivider">
			<div class="left">
				<ons-input type="checkbox"></ons-input>
			</div>
			<div class="center">
				<span class="list__item__title">One Touch (feat. who ...</span>
				<span class="list__item__subtitle">Baauer</span>
			</div>
			<label class="right">
				<ons-icon icon="ion-drag" class="list__item__icon"></ons-icon>
			</label>
		</ons-list-item>
		<ons-list-item modifier="longdivider">
			<div class="left">
				<ons-input type="checkbox"></ons-input>
			</div>
			<div class="center">
				<span class="list__item__title">One Touch (feat. who ...</span>
				<span class="list__item__subtitle">Baauer</span>
			</div>
			<label class="right">
				<ons-icon icon="ion-drag" class="list__item__icon"></ons-icon>
			</label>
		</ons-list-item>
		<ons-list-item modifier="longdivider">
			<div class="left">
				<ons-input type="checkbox"></ons-input>
			</div>
			<div class="center">
				<span class="list__item__title">One Touch (feat. who ...</span>
				<span class="list__item__subtitle">Baauer</span>
			</div>
			<label class="right">
				<ons-icon icon="ion-drag" class="list__item__icon"></ons-icon>
			</label>
		</ons-list-item>
		<ons-list-item modifier="longdivider">
			<div class="left">
				<ons-input type="checkbox"></ons-input>
			</div>
			<div class="center">
				<span class="list__item__title">One Touch (feat. who ...</span>
				<span class="list__item__subtitle">Baauer</span>
			</div>
			<label class="right">
				<ons-icon icon="ion-drag" class="list__item__icon"></ons-icon>
			</label>
		</ons-list-item>
		<ons-list-item modifier="longdivider">
			<div class="left">
				<ons-input type="checkbox"></ons-input>
			</div>
			<div class="center">
				<span class="list__item__title">One Touch (feat. who ...</span>
				<span class="list__item__subtitle">Baauer</span>
			</div>
			<label class="right">
				<ons-icon icon="ion-drag" class="list__item__icon"></ons-icon>
			</label>
		</ons-list-item>
		<ons-list-item modifier="longdivider">
			<div class="left">
				<ons-input type="checkbox"></ons-input>
			</div>
			<div class="center">
				<span class="list__item__title">One Touch (feat. who ...</span>
				<span class="list__item__subtitle">Baauer</span>
			</div>
			<label class="right">
				<ons-icon icon="ion-drag" class="list__item__icon"></ons-icon>
			</label>
		</ons-list-item>
	</ons-list>
</ons-page>
