<ons-page ng-controller="settingsCtl">
	<h3 class="left">Einstellungen</h3>
<ons-list>
	<ons-list-header>
		Input Wechsel
	</ons-list-header>
	<ons-list-item>
		<div class="left">
			<ons-icon icon="ion-arrow-swap" class="list__item__icon"></ons-icon>
		</div>
		<div class="center">
			Automatisch
		</div>
		<label class="right">
			<ons-switch ng-model="settings.auto_source.state" my-touchend="settings_change({'auto_source':settings.auto_source})" ng-disabled="!settings.auto_source.active"></ons-switch>
		</label>
	</ons-list-item>
	<ons-list-header>
		Dienste
	</ons-list-header>
	<ons-list-item>
		<div class="left">
			<ons-icon icon="ion-bluetooth" class="list__item__icon"></ons-icon>
		</div>
		<div class="center">
			<span class="list__item__title">mpd</span>
			<span class="list__item__subtitle">Aktiviert</span>
		</div>
		<label class="right">
			<ons-switch ng-model="settings.mpd.state" my-touchend="settings_change({'mpd':settings.mpd})" ng-disabled="!settings.mpd.active"></ons-switch>
		</label>
	</ons-list-item>
	<ons-list-item>
		<div class="left">
			<ons-icon icon="ion-bluetooth" class="list__item__icon"></ons-icon>
		</div>
		<div class="center">
			<span class="list__item__title">Bluetooth</span>
			<span class="list__item__subtitle">Aktiviert</span>
		</div>
		<label class="right">
			<ons-switch ng-model="settings.bluetooth.state" my-touchend="settings_change({'bluetooth':settings.bluetooth})" ng-disabled="!settings.bluetooth.active"></ons-switch>
		</label>
	</ons-list-item>
	<ons-list-item>
		<div class="left">
		<ons-icon icon="ion-bluetooth" class="list__item__icon"></ons-icon>
		</div>
		<div class="center">
			<span class="list__item__title">Bluetooth</span>
			<span class="list__item__subtitle">Koppeln</span>
		</div>
		<label class="right">
			<ons-switch ng-model="settings.bluetooth_pairable.state" my-touchend="settings_change({'bluetooth_pairable':settings.bluetooth_pairable})" ng-disabled="!settings.bluetooth_pairable.active"></ons-switch>
		</label>
	</ons-list-item>
	<ons-list-item>
		<div class="left">
			<ons-icon icon="ion-bluetooth" class="list__item__icon"></ons-icon>
		</div>
		<div class="center">
			Airplay
		</div>
		<label class="right">
			<ons-switch ng-model="settings.airplay.state" my-touchend="settings_change({'airplay':settings.airplay})" ng-disabled="!settings.airplay.active"></ons-switch>
		</label>
	</ons-list-item>
</ons-list>
<ons-list>
	<ons-list-header>
		System
	</ons-list-header>
	<ons-list-item>
		<div class="center">
			Ausschalten
		</div>
		<label class="right">
			<ons-button ng-click="halt()">Ausschalten</ons-button>
		</label>
	</ons-list-item>
	<ons-list-item>
		<div class="center">
			Neustarten
		</div>
		<label class="right">
			<ons-button ng-click="reboot()">Neustart</ons-button>
		</label>
	</ons-list-item>
</ons-list>
</ons-page>
