<ons-page ng-controller="settingsCtl">
	<h3 class="left">Einstellungen</h3>
<ons-list>
	<ons-list-header>
		Dienste
	</ons-list-header>
	<ons-list-item>
		<div class="left">
			<ons-icon icon="ion-bluetooth" class="list__item__icon"></ons-icon>
		</div>
		<div class="center">
			<span class="list__item__title">Bluetooth</span>
			<span class="list__item__subtitle">Aktiviert</span>
		</div>
		<label class="right">
			<ons-switch ng-model="settings.bluetooth_service.state" my-touchend="settings_change({'bluetooth_service':settings.bluetooth_service})" ng-disabled="!settings.bluetooth_service.active"></ons-switch>
		</label>
	</ons-list-item>
	<ons-list-item>
		<div class="left">
		<ons-icon icon="ion-bluetooth" class="list__item__icon"></ons-icon>
		</div>
		<div class="center">
			<span class="list__item__title">Bluetooth</span>
			<span class="list__item__subtitle">Koppeln</span>
		</div>
		<label class="right">
			<ons-switch ng-model="settings.bluetooth_pairable.state" my-touchend="settings_change({'bluetooth_pairable':settings.bluetooth_pairable})" ng-disabled="!settings.bluetooth_pairable.active"></ons-switch>
		</label>
	</ons-list-item>
	<ons-list-item>
		<div class="left">
			<ons-icon icon="ion-bluetooth" class="list__item__icon"></ons-icon>
		</div>
		<div class="center">
			Airplay
		</div>
		<label class="right">
			<ons-switch ng-model="settings.airplay_service.state" my-touchend="settings_change({'airplay_service':settings.airplay_service})" ng-disabled="!settings.airplay_service.active"></ons-switch>
		</label>
	</ons-list-item>
</ons-list>
<ons-list>
	<ons-list-header>
		System
	</ons-list-header>
	<ons-list-item>
		<div class="center">
			Neustart
		</div>
		<label class="right">
			<ons-button ng-click="reboot()">Neustart</ons-button>
		</label>
	</ons-list-item>
</ons-list>
</ons-page>
