<ons-page ng-controller="switchCtl">
	<h3>Schalter</h3>
	<ons-list>
		<ons-list-item>
			<div class="left">
				<ons-icon icon={{switch_array[0].icon_off}} class="list__item__icon" ng-show="!switch_array[0].state"></ons-icon>
				<ons-icon icon={{switch_array[0].icon_on}} class="list__item__icon" ng-show="switch_array[0].state"></ons-icon>
			</div>
			<div class="center">
				{{ switch_array[0].name }}
			</div>
			<label class="right">
				<ons-switch my-touchend="switch_change(switch_array[0])" ng-model="switch_array[0].state" ng-disabled="!switch_array[0].active"></ons-switch>
			</label>
		</ons-list-item>
		<ons-list-item>
			<div class="left">
				<ons-icon icon="{{switch_array[1].icon_on}}" class="list__item__icon"></ons-icon>
			</div>
			<div class="center">
				{{ switch_array[1].name }}
			</div>
			<label class="right">
				<ons-switch my-touchend="switch_change(switch_array[1])" ng-model="switch_array[1].state" ng-disabled="!switch_array[1].active"></ons-switch>
			</label>
		</ons-list-item>
	</ons-list>
</ons-page>
